/* a {
  text-decoration: none;
  
} */

/* * {
  border: red 1px solid;
} */

#category-page {
  margin: 2%;
  display: flex;
  flex-wrap: wrap;
  /* border: 1px hotpink solid; */
  padding: 10px;
}

#category-page h2 {
  margin-bottom: 2px;
}

#category-page h6 {
  margin: 0;
}

#category-list {
  /* border: hotpink 1px solid; */
  display: flex;
  flex-wrap: wrap;
  column-gap: 80px;
  row-gap: 50px;
  margin: 2%;
  padding: 5px;
  justify-content: space-evenly;
}

.category-card {
  width: 200px;
  height: 200px;
  /* border: 1px solid black; */
  box-shadow: 0px 10px 30px gray;
  text-decoration: none;
  border-radius: 100%;
  text-align: center;
  overflow: hidden;
}

.category-card img {
  width: 100%;
  height: 70%;
  object-fit: cover;
}

.category-card button h3 {
  /* border: 1px solid black; */
  font-family: monospace;
  margin: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
}
.category-card h3 {
  margin: 0;
  /* border: 1px solid black; */
  margin-inline-start: 15%;
  margin-inline-end: 15%;
  font-size: medium;
}

.category-card a:hover {
  opacity: 0.3;
  z-index: 0;
}

#category-page img {
  flex-shrink: 0;
  object-fit: cover;
  /* align-self: center; */
}

#category-page-text {
  /* border: 1px hotpink solid; */
  padding: 10px;
  text-align: start;
  width: 65%;
}

#category-page-body {
  /* display: block; */
  margin-left: 2%;
  width: 90%;
}

#category-page-body h3 {
  background-color: #5729ce;
  color: white;
  border-radius: 50px;
  padding: 2px 0px 5px 10px;
  margin-bottom: 5px;
  box-shadow: 0px 3px 5px grey;
  font-family: monospace;
}

#category-page-body a {
  padding: 2px 0px 0px 10px;
}

#pledge-list {
  margin: 0px 0px 0px 2%;
}
#pledge-list a {
  margin: 0px 0px 0px 0px;
}
