
nav {
    background-color: black;
    display: flex;
    flex-direction: column;
    padding: 5px;
    position: sticky;
    top: 0;
    box-shadow: 0px 3px 5px  grey; 

}

nav a {
    color: whitesmoke;
    text-decoration: none;
    /* border: tomato 1px solid; */
}


.Logo {
    /* border: whitesmoke 1px solid; */
    float: left;
    width: 50%;
    z-index: -1;
    max-width: 400px;
}

#nav-username {
    /* border: greenyellow 1px solid; */
    font-size: 13px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    vertical-align: top;
    z-index: 1;
        
}



#navbar {
    display: flex;
    justify-content: space-evenly;    
    /* border: greenyellow 1px solid; */ 
    
}



